.header__container {
    margin: 64px auto 0 auto;
    align-items: center;
    justify-content: space-between
}
.header__wrapper {
    margin-top: 64px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.header__nav__list{
    justify-content: space-between;
    width: 800px;
    margin: 0;
}

.header__nav__list >.nav__item {
    /* padding: 0 50px; */
}

.nav__link {
    color: #303958;
}