footer {
    height: 396px;
    background-color: #2B2D3A;
    color: #fff;
    text-align: initial;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

footer svg {
    width: 188px;
    height: 43px;
}

footer svg>path {
    fill: #fff;
}

footer>a {
    color: #fff;
}

.footer__wrapper {
    height: 396px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.footer__nav {
    flex-direction: column;
    max-height: 120px;
    width: 250px;
    flex-wrap: wrap;
    margin: 0;
}
.footer__nav>.nav__item{
    margin: 9px 0;
}
.footer__logo>a {
    display: flex;
}

.footer__logo__text {
    width: 190px;
}

.footer__info {
    flex-direction: column;
    height: 95px;
    display: flex;
    justify-content: space-between;
}

.footer__info>p {
    margin: 0;
}

.footer__nav>li>a {
    color: #fff;
}


.footer__copyright {
    width: 330px;
}